{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
	<div class="entry-content">
		<div class="about-me">
			{{ .aboutMe | markdownify }}
		</div>
		<div class="site-aim">
			{{ .siteAim| markdownify }}
		</div>
		<div class="the-backend">
			{{ .theBackend | markdownify }}
		</div>
		<div class="projects-prelude">
			{{ .projectsPrelude | markdownify }}
		</div>
		<div class="contacts-footer">
			{{ .contactsFooter | markdownify}}
			{{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
		</div>
	</div>
	<footer class="entry-footer">
	</footer>
	</div>
</article>
{{- end -}}
